body{

 background: url(..//assets/fondo.jpg);
 background-size: 100%;
 background-repeat: no-repeat;
}

main {
    width: 1000px;
    min-height: 400px;
    background-color: green;
    position: relative;
    margin: 30px auto;
}

 header.principal{ 
  position: relative;
  width: 100%;
  height: 180px;
  border-bottom: 5px solid #000;
  background-color: pink;
}
header.principal div.logo{
    position: relative;
    width: 250px;
    height: 139px;
    border:1px solid #999;
    top: 24px;
    left: 24px;

   background-image: url(..//assets/tecnico.jpg);
    background-size: 95%; 
    background-repeat: no-repeat; 

}

header.principal h1 {
    color: red;
    position: absolute;
    top: 10px;
    left:350px;
    font-size: 45px;
    
}
nav.nav_horizontal{
    border-bottom: 1px solid blue;
    background-color: gray;

   }
   
nav.nav_horizontal ul {
     position: relative;
     border: 0px;
     padding: 0px;
     margin: 0px;
     list-style: none;
     display: inline-block;
     *float: left;
       

   }
 
 ul {
    list-style: none;
    display: block;
  display: inline-block;
  
 
 
   
    
}
nav.nav_horizontal ul li a{
    list-style: none;
    display: inline-block;
   
}
nav.nav_horizontal li{
    position: relative;
    border: 0px;
    margin: 0px;
    padding:30px;
    display: inline-block;
    vertical-align: top;
    

    }
   
   li{

    float: left; 



    
}
nav.nav_horizontal li a{
    position: relative;
    display: block;
    padding: 13px 20px;
    text-decoration: none;
    color: green;
    font-weight: bold; 

    
}
    
 a{

 list-style: none;
 text-decoration: none;
 :block; padding

}
nav.nav_horizontal li a{
    list-style: none;
    display: inline-block;

    }


nav.nav_horizontal li a:hove{
    background-color: gray;
    color: #fff;
    list-style: none;
    display: inline-block;



}
nav.nav_horizontal li a:active{
    background-color: blue;
    color: orange;
 float: left;


}
#slideshow{
    position: relative;
    background-color: cornsilk;
    border: 2px dotted yellow;
    width: 700px;
    height: 250px;
    margin: 20px auto;

}

#slideshow button{
    background-color:yellow;
     width: 50px;
     height: 50;
     border: 1px solid #c45f0d;
     border-radius: 50%;
     cursor: pointer;
     position:absolute;
     top: 100px;
}


button.prev{
    left: -25px;
}
button.next{
    right: -25px;
}
#slideshow button:hover{
    background-color: #b65506;
    color: #ffcb20;
}
.col{
    display: inline-block;
    vertical-align: top;
    border:1px  solid #000;
    width: 325px;
    height: 200px;
    background-color: rgba(255, 2555,255, 0.7);

}
.col header{
    text-align: center;
}
.col header img{
width: 50px;
height: 50px;
border: 2px solid rgb(58, 68, 61);
background-color: #FFF;
border-radius: 50% ;
}
div.cols {
    position: relative;

    }
    h3{
      display: inline-block;
      text-align: center;
    width: 800px;
    height: 300px;
    
    }

footer{



position: relative;
  width: 100%;
  height: 60px;
    background-color: gray



 

 }